<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>
<div class="container">
    <div class="starter-template">
        <p th:if="${param.logout}" class="bg-warning">已注销</p>
        <p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
        <h2>使用账号密码登录</h2>
        <form class="form-signin" role="form" name="form" th:action="@{/login}" action="/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" value="" placeholder="账号"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="密码"/>
            </div>
            <input type="submit" id="login" value="Login" class="btn btn-primary"/>
            <!--<a href="/main?page=user/register" ><input type="button" id="register" data-type="register" value="register" class="btn btn-primary"/></a>-->
        </form>
    </div>
</div>
<script>
    layui.use(['jquery','form'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        //方法级渲染
        var active = {
            register: function () { //获取选中数据
                window.location.href = "/main?page=user/register";
            }
        }
    });
</script>

</body>
</html>