<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-body" style="padding: 15px;" th:fragment="content">
    <form th:id="contractEdit" class="layui-form" action="">
        <input type="hidden"  id="id" th:value="${detailId}">
        <div class="layui-form-item">
            <label class="layui-form-label">合同标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
             <textarea name="content"  id="content" rows="10" cols="80">
            </textarea>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">签订单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="companyName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">签订时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">传真</label>
                <div class="layui-input-inline">
                    <input type="text" name="fax" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input type="tel" name="contactMan" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">业务员</label>
                <div class="layui-input-inline">
                    <input type="text" name="saleman" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <!--<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <select name="contactId" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option value="1">admin</option>
                        <option value="2">user</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">销售人员</label>
                <div class="layui-input-inline">
                    <select name="salemanId" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option value="1">admin</option>
                        <option value="2">user</option>
                    </select>
                </div>
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">金额</label>
                <div class="layui-input-inline">
                    <input type="number" name="amount" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">付款方式</label>
                <div class="layui-input-inline">
                    <select name="payMethod" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option value="支付宝">支付宝</option>
                        <option value="微信">微信</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="remarks" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn" lay-submit="" lay-filter="editSubmit">修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>

            </div>
        </div>
    </form>
    <script>
        layui.use(['form','jquery'], function () {
            var form =layui.form;
            var $=layui.jquery;
            var laydate=layui.laydate;
            $.ajax({
                url: '/contract/detail',
                data:{id:$('#id').val()},
                method: 'POST',
                success: function (data) {
                    var d=data.data;
                    if (data.code >= 0) {
                        CKEDITOR.instances.content.setData(d.content);
                        $("#contractEdit input[name='companyName']").val(d.companyName);
                        $("#contractEdit input[name='title']").val(d.title);
                        $("#contractEdit input[name='time']").val(d.dateTime);
                        $("#contractEdit input[name='phone']").val(d.phone);
                        $("#contractEdit input[name='fax']").val(d.fax);
                        $("#contractEdit input[name='contactMan']").val(d.contactMan);
                        $("#contractEdit input[name='saleman']").val(d.saleman);
                       // $("#contractEdit select[name='contactId']").find('option').attr("selected", false);
                       // $("#contractEdit select[name='contactId']").find('option[value="' +d.contactId+ '"]').attr("selected", true);
                       // $("#contractEdit select[name='salemanId']").find('option').attr("selected", false);
                        //$("#contractEdit select[name='salemanId']").find('option[value="' +d.salemanId+ '"]').attr("selected", true);


                        $("#contractEdit input[name='amount']").val(d.amount);
                        $("#contractEdit textarea[name='remarks']").val(d.remarks);
                        $("#contractEdit select[name='payMethod']").find('option').attr("selected", false);
                        $("#contractEdit select[name='payMethod']").find('option[value="' +d.payMethod+ '"]').attr("selected", true);
                        form.render();
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
            form.on('submit(editSubmit)', function(data) {
                //    console.log(CKEDITOR.instances.content.getData());
                //   return false;
                //});

                $.ajax({
                    url: '/contract/update',
                   // data:{id:$('#id').val()},id放这里无法获取
                    method: 'POST',
                    data: {
                        id:$('#id').val(),
                        content:CKEDITOR.instances.content.getData(),
                        companyName:$("#contractEdit input[name='companyName']").val(),
                        contactId:$("#contractEdit select[name='contactId']").val(),
                        phone:$("#contractEdit input[name='phone']").val(),
                        fax:$("#contractEdit input[name='fax']").val(),
                        salemanId:$("#contractEdit select[name='salemanId']").val(),
                        amount:$("#contractEdit input[name='amount']").val(),
                        time:$("#contractEdit input[name='time']").val(),
                        payMethod:$("#contractEdit select[name='payMethod']").val(),
                        title:$("#contractEdit input[name='title']").val(),
                        remarks:$("#contractEdit textarea[name='remarks']").val()
                    },
                    success: function (data) {
                        if (data.code >= 0) {
                            window.location.href="/main?page=contract/main";
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
                return false;
            });
        });
        CKEDITOR.replace('content');
        CKEDITOR.config.image_previewText = ' ';
        CKEDITOR.config.filebrowserImageUploadUrl = '/uploadImg';
        CKEDITOR.config.language  = 'zh-cn';

    </script>

</div>